/*
font-family: 'Aldrich', sans-serif;
font-family: 'Cuprum', sans-serif;
*/

html, body {
height: 100%;
}

body{
  font-family: 'Cuprum', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 1.75em;
}

h1, .h1{font-size: 3em;font-family: 'Cuprum', sans-serif;}
h2, .h2{font-size: 2.5em;font-family: 'Cuprum', sans-serif;}
h3, .h3{font-size: 2em;font-family: 'Cuprum', sans-serif;}
h4, .h4{font-size: 1.5em;font-family: 'Cuprum', sans-serif;}
h5, .h5{font-size: 1em;font-family: 'Cuprum', sans-serif;}
h6, .h6{font-size: 0.5em;font-family: 'Cuprum', sans-serif;}


.banner{
  position: absolute;
  width: 100%;
  color: #FFFFFF;
  text-shadow: 1px 0px 0 #000000,
               0px 1px 0 #000000, 
               -1px 0px 0 #000000, 
               0px -1px 0 #000000;
  margin-bottom: 0px;
  background-color: transparent;
}
.banner .container{
padding-top: 5px;
padding-bottom: 5px;
/*background-image: url(../img/Flag_of_the_United_States.svg);*/
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/20140804_183542.jpg');
  width: 100%;
  position: fixed;
  z-index: -2;
}
.opaque {
  background-color: rgba(125, 125, 125, 0.75);
  position: relative;
  width: 100%;
  z-index: -1;
}
.progress {
  height: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress.affix {
  top: 0;
  z-index: 1000;
  width: 100%;
}
.progress.affix-bottom {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.progress.affix + .whitewash{margin-top: 5px}
.progress-bar-white{background-color:#FFFFFF}
.banner h1{font-family: 'Aldrich', sans-serif;}
.banner h1 span{
  color: #000000;
  text-shadow: 1px 0px 0 #FFFFFF,
               0px 1px 0 #FFFFFF,
              -1px 0px 0 #FFFFFF,
               0px -1px 0 #FFFFFF;
}
.banner p{font-family: 'Aldrich', sans-serif;font-size: .75em;}

#captain_colors .row *{height:20px;}
#captain_colors .red{background-color: red;}
#captain_colors .white{background-color: #FFFFFF;}
#captain_colors .blue{background-color: blue;}

.whitewash{
  background-color: #fff;
  position: relative;
  padding-top: 20px;
}

img.portrait{
  max-width: 250px;
  margin-right: 15px;
  width: 100%;
  vertical-align:text-top;
}
#overview p{padding: 10px;}
#technical dl{margin-bottom: 0px;}
#experience h4.panel-title {font-size: 1.25em; cursor: pointer;}


footer p a{color: inherit;}
footer p a:hover{text-decoration: none;color: inherit;}
footer i.fa{font-size: 2em;padding: 2px;}
footer i.fa.disabled{color: #E2E2E2;}


/* Extra small devices (phones, less than 421px) */
@media (max-width: 420px) {
  h1, .h1{font-size: 2em;}
  h2, .h2{font-size: 1.75em;}
  h3, .h3{font-size: 1.5em;}
  h4, .h4{font-size: 1.25em;}
  h5, .h5{font-size: 1em;}
  h6, .h6{font-size: 0.5em;}

  img.portrait{visibility: hidden; display: none;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  img.portrait{
    max-width: 25%;
    margin: 5px;
    width: auto;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .banner{
    background-size: auto 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

.no-bullets{list-style: none;}