<div id="start" class="container" ng-controller="ExperienceCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h3><i class="fa fa-briefcase fa-border"></i> Experience</h3>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
               Jitscale, Inc.
               <small class="hidden-xs pull-right">March 2013 - January 2015</small>
               <br /><small class="hidden-xs">IT Cloud Service Management &amp; Support</small>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <small class="visible-xs">IT Cloud Service Management &amp; Support</small>
              <h5>Front-End Development; Jr. Rails Developer; UI design<small class="visible-xs pull-right">March 2013 - January 2015</small></h5>
              <ul class="">
                <li>Implement complex web application design for company client product</li>
                <li>Built entire company website redesign based off contracted graphic designer images</li>
                <li>Implement development standards including RVM, git</li>
                <li>Produce demo layout and applications for marketing &amp; sales team meetings</li>
                <li>Refactor existing company applications to new standards and code</li>
                <li>Create custom design and layout to meet needs of company product</li>
                <li>Manage U.S. team meeting schedule with home team in The Netherlands</li>
                <li>Advise other developers on useful layout techniques for company projects</li>
                <li>Introduced new languages into development team</li>
                <li>Given creative control for UI development on new projects</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Cloudspace, Inc.
              <small class="hidden-xs pull-right">December 2012 - January 2013</small>
              <br /><small class="hidden-xs">Agile Software Development Shop</small>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <small class="visible-xs">Agile Software Development Shop</small>
              <h5>Front-End Design/Web Development (Contract)<small class="visible-xs pull-right">December 2012 - January 2013</small></h5>
              <ul class="">
                <li>Implemented complex web application design for client product</li>
                <li>Advised other developers on useful design techniques for their client projects</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              HostDime.com
              <small class="hidden-xs pull-right">October 2012 - February 2013</small>
              <br /><small class="hidden-xs">Webhosting Provider</small>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <small class="visible-xs">Webhosting Provider</small>
              <h5>Server Analyst I<small class="visible-xs pull-right">October 2012 - February 2013</small></h5>
              <ul class="">
                <li>Resolve domain error issues</li>
                <li>Edit and update DNS information</li>
                <li>Monitor server load during peak times of usage</li>
                <li>Troubleshoot server issues for managed/dedicated clients</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              Nerdapalooza, LLC
              <small class="hidden-xs pull-right">April 2009 - October 2013</small>
              <br /><small class="hidden-xs">Nerdy Music and Art Festival and Showcase</small>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <small class="visible-xs">Nerdy Music and Art Festival and Showcase</small>
              <h5>Event Director; Co-Owner<small class="visible-xs pull-right">April 2009 - October 2013</small></h5>
              <ul class="">
                <li>Plan and organize yearly event with diverse staff and board of directors</li>
                <li>Organize and oversee committees involved in production</li>
                <li>Broker rates for event space and hotel with various companies</li>
                <li>Manage staff during event weekend to ensure proper execution of festival</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              Glassdoctor of Orlando
              <small class="hidden-xs pull-right">August 2009 – March 2012</small>
              <br /><small class="hidden-xs">Residential, Commercial, &amp; Auto Glass Repair</small>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <small class="visible-xs">Residential, Commercial, &amp; Auto Glass Repair</small>
              <h5>Glazier; Inside Sale Representative<small class="visible-xs pull-right">August 2009 – March 2012</small></h5>
              As Glazier
              <ul class="">
                <li>Repair and installation of various flat glass products</li>
                <li>Received incoming parts and stock as well as vendor returns</li>
              </ul>
              As Inside Sales Representative
              <ul class="">
                <li>Maintained quality phone and walk-in service with customers</li>
                <li>Introduced improved record-keeping methods within office</li>
                <li>Designed new manufacturing and job layout reference sheets</li>
                <li>Scheduled daily work flow for quickly changing and adapting field jobs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>