<div class="container-fluid" ng-controller="ProfileCtrl">
  <div id="about" class="container" ng-controller="AboutCtrl">
    <div class="row">
      <div id="overview" class="col-sm-12 col-md-6">
        <img src="./img/IMG_20140722_084814.jpg" class="img-circle img-responsive portrait pull-left">
        <p>I've been in love with web design since our family got its first computer in 2000 <small>(my then-step-father was a serious technophobe)</small>. Playing with css and html elements on angelfire or geocities websites was my hobby after school or work, often helping my friends garage bands create their first websites or styling profile pages on the next social media website.</p>
      </div>
      <div id="overview" class="col-sm-12 col-md-6">
        <p>I spent much of my 20's as a <abbr class="details" tooltip="gla·zier (noun); a person whose profession is fitting glass into windows and doors.">glazier</abbr>, going from one bankrupt shop to the next. After being laid off from a 3rd shop in 2011, I realized my life in construction was going nowhere.<br />With encoragement from friends and family, I took the next year and dedicated myself to learning about UI design and OOP; ruby on rails, responsive css, jquery, rdbms. I had an amazing support system around me as well, and practiced alongside skilled programmers doing exactly what I wanted to achieve.</p>
      </div>
    </div>  
    <div class="row">
      <div id="bits" class="col-xs-12">
        <h4><i class="fa fa-coffee fa-border"></i> Random Little bits & Cool things <small><i class="fa fa-refresh" ng-click="newRandom()"></i></small></h4>
        <ul class="fa-ul list-inline">
          <li><span ng-bind-html="factList.fact"></span> and I like <span ng-bind-html="coolList.coolthing"></span></li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div id="technical" class="container" ng-controller="TechnicalCtrl">
    <div class="row">
      <div class="col-sm-12">
        <h3><i class="fa fa-wrench fa-border"></i> Technical</h3>
        <dl class="dl-horizontal">
          <dt>Programming/Web :</dt>
          <dd>
            <ul class="list-inline">
              <li>HTML (<small>haml, erb</small>)</li>
              <li>CSS 2 &amp; 3 (<small>sass, less, responsive</small>)</li>
              <li>Bootstrap 2 &amp; 3</li>
              <li>AngularJS</li>
              <li>jQuery</li>
              <li>PHP5</li>
              <li>Ruby (<small>1.8, 1.9, 2.0</small>)</li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Design/IDE :</dt>
          <dd>
            <ul class="list-inline">
              <li>Adobe CS/Photoshop</li>
              <li>Balsamiq Mockups</li>
              <li>Sublime Text</li>
              <li>Oracle VirtualBox</li>
              <li>VMWare</li>
              <li>RVM</li>
              <li>Git</li>
              <li>Subversion</li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Webserver/RDBMS :</dt>
          <dd>
            <ul class="list-inline">
              <li>Apache</li>
              <li>MySQL</li>
              <li>Rails (<small>2, 3</small>)</li>
              <li>Node.js</li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Operating Systems :</dt>
          <dd>
            <ul class="list-inline">
              <li>Windows</li>
              <li>OS X</li>
              <li>Ubuntu</li>
              <li>Debian</li>
              <li>CentOS Server</li>
            </ul>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Extra :</dt>
          <dd>
            <ul class="list-inline">
              <li>Google Analytics</li>
              <li>Wordpress</li>
              <li>cPanel</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div id="experience" class="container" ng-controller="ExperienceCtrl">
    <div class="row">
      <div class="col-sm-12">
        <h3><i class="fa fa-briefcase fa-border"></i> Experience</h3>
        <accordion close-others="oneAtATime">
          <accordion-group ng-repeat="employer in employers">
            <accordion-heading>
              {{employer.name}}
              <small class="hidden-xs pull-right">{{employer.dates}}</small>
              <br /><small class="hidden-xs">{{employer.description}}</small>
            </accordion-heading>
            <small class="visible-xs">{{employer.description}}</small>
            <h5>{{employer.title}}<small class="visible-xs pull-right">{{employer.dates}}</small></h5> 
            <ul class="" >
              <li ng-repeat="job in employer.jobs">{{job.duty}}</li>
            </ul>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
  <div id="projects" class="container" ng-controller="ProjectsCtrl">
    <div class="row">
      <div id="education" class="col-lg-4 col-md-12">
        <h3><i class="fa fa-book fa-border"></i> Education</h3>
        <table class="footable table toggle-arrow-small">
          <thead>
            <tr>
              <th data-sort-ignore="">School</th>
              <th data-sort-ignore="true" data-hide="phone">Location</th>
              <th data-sort-initial="descending" data-sort-ignore="" data-hide="phone,tablet">Attendence</th>
              <th data-sort-ignore="true" data-hide="phone,tablet">Area of Study</th>
              <th data-sort-ignore="true" data-hide="all">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Seminole State College of Florida</td>
              <td>Sanford, FL</td>
              <td>2009-2011</td>
              <td>Associate of Science: Computer Science</td>
              <td>In Progress</td>
            </tr>
            <tr>
              <td>Indian River State College</td>
              <td>Ft. Pierce, FL</td>
              <td>2005-2007</td>
              <td>General Education</td>
              <td>Completed</td>
            </tr>
            <tr>
              <td>U.S. Navy: Naval Service Training Command</td>
              <td>Great Lakes, IL</td>
              <td>2003</td>
              <td>Electronics Technician/Fire Controlman School</td>
              <td>Honorable Discharge</td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
      <div id="portfolio" class="col-lg-4 col-md-6 col-xs-12">
        <h3><i class="fa fa-code fa-border"></i> Work Portfolio</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.jitscale.com/">Jitscale B.V.</a></li>
          <li><a href="https://icis.jitscale.com/session/new">Jitscale Client Information System</a> [account wall]</li>
          <li><a href="https://sla.jitscale.com">Jitscale Digital SLA</a> [account wall]</li>
          <li><a href="http://carlotaworldwide.com/">Carlota the Creativity Yenta</a></li>
          <li><a href="http://sixnutrition.com/">SIX NUTRITION</a></li>
        </ul>
      </div>
      <div id="hobbies" class="col-lg-4 col-md-6 col-xs-12">
        <h3><i class="fa fa-paint-brush fa-border"></i> Personal Projects</h3>
        <ul class="list-unstyled">
          <li><a href="http://talley-yarhouse.us/#/">Welcome to Talley-Yarhouse - Landing Page</a></li>
          <li><a href="http://nina.talley-yarhouse.us/#/">Nina Talley - Writing Portfolio</a></li>
          <li><a href="http://wedding.talley-yarhouse.us/">The wedding of Nina Talley and Aaron Yarhouse</a></li>
          <li><a href="http://krondorkrew.com/">Krondor Krew - The greatest in ninja hip-hop</a></li>
        </ul>
        <h4>Previous iterations of this site (early work)</h4> 
        <ul class="no-bullets">
          <li><a href="./LCARS">Star Trek LCARS style</a></li>
          <li><a href="./dnd">Dungeons &amp; Dragons charater sheet style</a></li>
        </ul>          
      </div>
    </div>
  </div>
</div>