<div id="start" class="container" ng-controller="ProjectsCtrl">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <h3><i class="fa fa-book fa-border"></i> Education</h3>
      <table class="footable table toggle-arrow-small">
        <thead>
          <tr>
            <th data-sort-ignore="">School</th>
            <th data-sort-ignore="true" data-hide="phone">Location</th>
            <th data-sort-initial="descending" data-sort-ignore="" data-hide="phone,tablet">Attendence</th>
            <th data-sort-ignore="true" data-hide="phone,tablet">Area of Study</th>
            <th data-sort-ignore="true" data-hide="all">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Seminole State College of Florida</td>
            <td>Sanford, FL</td>
            <td>2009-2011</td>
            <td>Associate of Science: Computer Science</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Indian River State College</td>
            <td>Ft. Pierce, FL</td>
            <td>2005-2007</td>
            <td>General Education</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>U.S. Navy: Naval Service Training Command</td>
            <td>Great Lakes, IL</td>
            <td>2003</td>
            <td>Electronics Technician/Fire Controlman School</td>
            <td>Honorable Discharge</td>
          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
    <div id="portfolio" class="col-lg-4 col-md-6 col-xs-12">
      <h3><i class="fa fa-code fa-border"></i> Work Portfolio</h3>
      <ul class="list-unstyled">
        <li><a href="https://www.jitscale.com/">Jitscale B.V.</a></li>
        <li><a href="https://icis.jitscale.com/session/new">Jitscale Client Information System</a> [account wall]</li>
        <li><a href="https://sla.jitscale.com">Jitscale Digital SLA</a> [account wall]</li>
        <li><a href="http://carlotaworldwide.com/">Carlota the Creativity Yenta</a></li>
        <li><a href="http://sixnutrition.com/">SIX NUTRITION</a></li>
      </ul>
    </div>
    <div id="projects" class="col-lg-4 col-md-6 col-xs-12">
      <h3><i class="fa fa-paint-brush fa-border"></i> Personal Projects</h3>
      <ul class="list-unstyled">
        <li><a href="http://talley-yarhouse.us/#/">Welcome to Talley-Yarhouse - Landing Page</a></li>
        <li><a href="http://nina.talley-yarhouse.us/#/">Nina Talley - Writing Portfolio</a></li>
        <li><a href="http://wedding.talley-yarhouse.us/">The wedding of Nina Talley and Aaron Yarhouse</a></li>
        <li><a href="http://krondorkrew.com/">Krondor Krew - The greatest in ninja hip-hop</a></li>
      </ul>
      <h4>Previous iterations of this site (early work)</h4> 
      <ul class="no-bullets">
        <li><a href="./LCARS">Star Trek LCARS style</a></li>
        <li><a href="./dnd">Dungeons &amp; Dragons charater sheet style</a></li>
      </ul>          
    </div>
  </div>
</div>