<!DOCTYPE html>
<html lang="en" ng-app="webPortfolio">
  <head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.png" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Aaron Yarhouse (@yarhouse)</title>

    <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
    <script src="js/footable/footable.js" type="text/javascript"></script>
    <script src="js/footable/footable.sort.js" type="text/javascript"></script>
    <!-- // <script src="js/footable/footable.filter.js" type="text/javascript"></script> -->
    <!-- // <script src="js/footable/footable.paginate.js" type="text/javascript"></script> -->
    <!-- // <script src="js/footable/footable.striping.js" type="text/javascript"></script> -->

    <script src="js/angular/angular.js" type="text/javascript"></script>
    <script src="js/angular/angular-animate.js" type="text/javascript"></script>
    <script src="js/angular/angular-aria.js" type="text/javascript"></script>
    <script src="js/angular/angular-cookies.js" type="text/javascript"></script>
    <script src="js/angular/angular-loader.js" type="text/javascript"></script>
    <script src="js/angular/angular-messages.js" type="text/javascript"></script>
    <script src="js/angular/angular-mocks.js" type="text/javascript"></script>
    <script src="js/angular/angular-resource.js" type="text/javascript"></script>
    <script src="js/angular/angular-route.js" type="text/javascript"></script>
    <script src="js/angular/angular-sanitize.js" type="text/javascript"></script>
    <script src="js/angular/angular-scenario.js" type="text/javascript"></script>
    <script src="js/angular/angular-touch.js" type="text/javascript"></script>
    <script src="js/angular/ui-bootstrap-tpls-0.12.0.js" type="text/javascript"></script>
    <script src="js/angular/ui-utils.js" type="text/javascript"></script>
    <script src="js/angular/ui-utils-ieshiv.js" type="text/javascript"></script>
    <script src="js/angular/ng-table.js" type="text/javascript"></script>

    <script src="js/angular/scrollfix.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
    <script src="js/directives.js" type="text/javascript"></script>
    <script src="js/filters.js" type="text/javascript"></script>
    <script src="js/services.js" type="text/javascript"></script>
    <script src="js/highcharts/highcharts-ng.js" type="text/javascript"></script>
    <script src="js/highcharts/highcharts.js" type="text/javascript"></script>
    <script src="js/highcharts/highcharts-more.js" type="text/javascript"></script>
    <script src="js/highcharts/exporting.js" type="text/javascript"></script>
    <script src="js/highcharts/regression.js" type="text/javascript"></script>
    <script src="js/highcharts/modules-data.js" type="text/javascript"></script>

    <script src="js/counter_handler.js" type="text/javascript"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Aldrich|Cuprum:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
    <!-- <link href="css/application.css" media="screen" rel="stylesheet" type="text/css"> -->
    <link href="css/footable.core.css" media="screen" rel="stylesheet" type="text/css">

    <!-- LESS always last -->
    <script src="js/less-1.7.0.js" type="text/javascript"></script>
    <base href="/" />
  </head>
  <body ng-controller="ApplicationCtrl">
    <div class="jumbotron banner">
      <div class="container">
        <h1>Aaron <span>Yarhouse</span></h1>
        <h4>Husband <span class='dever'>Developer</span> <span class='gamer'>Gamer</span> <span class='csfit'>Crossfitter</span> <span class='bsgfan'>Battlestar Galactica Fan</span></h4>
        <small><p class="col-sm-8 col-md-6 col-lg-12 hidden-xs pull-right text-right">Sometimes one creates a dynamic impression by saying something, and sometimes one creates as significant an impression by remaining silent.<br />- The Dalai Lama XIV</p></small>
      </div>
    </div>
    <div class="image"></div>
    <div class="opaque"></div>
    <div ui-scrollfix="+0" id="sticky" class="container-fluid">
      <div class="row">
        <div class="col-sm-2 about" ng-class="{ active: activeTab === 'about' }">
          <a href="#/profile" ng-click="scrollTo('about')">Profile</a>
        </div>
        <div class="col-sm-2 technical hidden-xs" ng-class="{ active: activeTab === 'technical' }">
          <a href="#/profile" ng-click="scrollTo('technical')">Technical</a>
        </div>
        <div class="col-sm-2 experience hidden-xs" ng-class="{ active: activeTab === 'experience' }">
          <a href="#/profile" ng-click="scrollTo('experience')">Experience</a>
        </div>
        <div class="col-sm-2 projects hidden-xs" ng-class="{ active: activeTab === 'projects' }">
          <a href="#/profile" ng-click="scrollTo('projects')">Portfolio</a>
        </div>
        <div class="col-sm-2 code" ng-class="{ active: activeTab === 'code' }">
          <a href="#/code">Code</a>
        </div>
        <div class="col-sm-2 blank hidden-xs">
          <a>&nbsp;</a>
        </div>
      </div>
    </div>
    <div class="container-fluid whitewash">
      <div ng-view ng-animate class="angular-fade"></div>      
      <div class="container">
        <hr />
        <footer>
          <p class="pull-right">
            <a href="https://www.facebook.com/aaron.yarhouse"><i class="fa fa-facebook-square text-info"></i> </a>
            <a href="https://github.com/yarhouse"><i class="fa fa-github"></i> </a>
            <a href="https://plus.google.com/+AaronYarhouse"><i class="fa fa-google-plus text-danger"></i> </a>
            <a href="https://twitter.com/yarhouse"><i class="fa fa-twitter text-primary"></i> </a>
            <a href="www.linkedin.com/in/aaronyarhouse"><i class="fa fa-linkedin-square text-primary"></i> </a>
            <a href="mailto:aaron@aaronyarhouse.com"><i class="fa fa-envelope-o"></i> </a>
          </p>
        </footer>
      </div>
    </div>
    <script type="text/javascript">
      // $(function() {
      //   var banner = $(".jumbotron.banner").innerHeight();
      //   $(".opaque").height(banner);
      //   $(".image").height(banner);
      //   $( window ).resize(function() {
      //     banner = $(".jumbotron.banner").innerHeight();
      //     $(".opaque").height(banner);
      //     $(".image").height(banner);
      //   });
      // });
    </script>
  </body>

</html>
