<!DOCTYPE html>
<html lang="en" ng-app="webPortfolio">
  <head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Aaron Yarhouse (@yarhouse)</title>

    <script src="js/angular/angular.js" type="text/javascript"></script>
    <script src="js/angular/angular-animate.js" type="text/javascript"></script>
    <script src="js/angular/angular-aria.js" type="text/javascript"></script>
    <script src="js/angular/angular-cookies.js" type="text/javascript"></script>
    <script src="js/angular/angular-loader.js" type="text/javascript"></script>
    <script src="js/angular/angular-messages.js" type="text/javascript"></script>
    <script src="js/angular/angular-mocks.js" type="text/javascript"></script>
    <script src="js/angular/angular-resource.js" type="text/javascript"></script>
    <script src="js/angular/angular-route.js" type="text/javascript"></script>
    <script src="js/angular/angular-sanitize.js" type="text/javascript"></script>
    <script src="js/angular/angular-scenario.js" type="text/javascript"></script>
    <script src="js/angular/angular-touch.js" type="text/javascript"></script>
    <script src="js/angular/ui-bootstrap-tpls-0.12.0.js" type="text/javascript"></script>
    <script src="js/angular/ui-utils.js" type="text/javascript"></script>
    <script src="js/angular/ui-utils-ieshiv.js" type="text/javascript"></script>
    <script src="js/angular/ng-table.js" type="text/javascript"></script>
    <script src="js/angular/scrollfix.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
    <script src="js/directives.js" type="text/javascript"></script>
    <script src="js/filters.js" type="text/javascript"></script>
    <script src="js/services.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
    <script src="js/footable/footable.js" type="text/javascript"></script>
    <script src="js/footable/footable.sort.js" type="text/javascript"></script>
    <script src="js/footable/footable.filter.js" type="text/javascript"></script>
    <script src="js/footable/footable.paginate.js" type="text/javascript"></script>

    <script src="js/counter_handler.js" type="text/javascript"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Aldrich|Cuprum:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.less" rel="stylesheet/less" type="text/css">
    <!-- <link href="css/application.css" media="screen" rel="stylesheet" type="text/css"> -->
    <link href="css/footable.core.css" media="screen" rel="stylesheet" type="text/css">

    <!-- LESS always last -->
    <script src="js/less-1.7.0.js" type="text/javascript"></script>

    <script type="text/javascript">
      $(function() {
        var banner = $(".jumbotron.banner").innerHeight();
        console.log(banner);
        $('.footable').footable();
        $(".opaque").height(banner);
        $(".image").height(banner);
        $( window ).resize(function() {
          banner = $(".jumbotron.banner").innerHeight();
          $(".opaque").height(banner);
          $(".image").height(banner);
        });
      });
    </script>
  </head>
  <body ng-controller="ApplicationCtrl">
    <div class="jumbotron banner">
      <div class="container">
        <h1>Aaron <span>Yarhouse</span></h1>
        <h4>Husband Developer Gamer Crossfitter Battlestar Galactica Fan</h4>
        <small><p class="col-sm-8 col-md-6 col-lg-12 hidden-xs pull-right text-right">Sometimes one creates a dynamic impression by saying something, and sometimes one creates as significant an impression by remaining silent.<br />- The Dalai Lama XIV</p></small>
      </div>
    </div>
    <div class="image"></div>
    <div class="opaque"></div>
    <div ui-scrollfix="+0" id="sticky" class="container-fluid">
      <div class="row">
        <div class="col-sm-3 progress-bar-info">
          <a href="" ng-click="scrollTo('profile')">Profile</a>
        </div>
        <div class="col-sm-3 progress-bar-success">
          <a href="" ng-click="scrollTo('technical')">Technical</a>
        </div>
        <div class="col-sm-3 progress-bar-warning">
          <a ng-click="scrollTo('experience')">Experience</a>
        </div>
        <div class="col-sm-3 progress-bar-danger">
          <a ng-click="scrollTo('portfolio')">Portfolio</a>
        </div>
      </div>
    </div>
    <div class="container-fluid whitewash">
      <div class="container">
        <div class="row" id="profile">
          <div id="overview" class="col-sm-12 col-md-7 col-lg-6">
            <img src="./img/IMG_20140722_084814.jpg" class="img-circle img-responsive portrait pull-left">
            <p>I've been in love with web design since our family got its first computer in 2000 <small>(my then-step-father was a serious technophobe)</small>. Playing with css and html elements on angelfire or geocities websites was my hobby after school or work, often helping my friends garage bands create their first websites or styling profile pages on the next social media website.</p>
            <p>I spent much of my 20's as a <abbr class="details" tooltip="gla·zier (noun); a person whose profession is fitting glass into windows and doors.">glazier</abbr>, going from one bankrupt shop to the next. After being laid off from a 3rd shop in 2011, I realized my life in construction was going nowhere.<br />With encoragement from friends and family, I took the next year and dedicated myself to learning about UI design and OOP; ruby on rails, responsive css, jquery, rdbms. I had an amazing support system around me as well, and practiced alongside skilled programmers doing exactly what I wanted to achieve.</p>
          </div>
          <div id="bits" class="col-xs-12 col-sm-7 col-md-5 col-lg-3">
            <h4><i class="fa fa-coffee fa-border"></i> Little bits</h4>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-map-marker"></i> Born and raised in southeastern Conneticut.</li>
              <li><i class="fa-li fa fa-home"></i> Lived in Florida just over half my life, but can't eat seafood.</li>
              <li><i class="fa-li fa fa-university"></i> Taught 3rd &amp; 4th grade sunday school for 10 years.</li>
              <li><i class="fa-li fa fa-microphone"></i> Former rapper in a "<em>nerdcore ninja&#8209;hip&#8209;hop</em>" duo.</li>
              <li><i class="fa-li fa fa-heart"></i> Married my wife 10 yrs to&#8209;the&#8209;day of first meeting her.</li>
              <li><i class="fa-li fa fa-calculator"></i> Wrote my first program on a TI&#8209;86 to calculate THAC0.</li>
            </ul>
          </div>
          <div id="likes" class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
            <h4><i class="fa fa-thumbs-o-up fa-border"></i> Cool things</h4>
            <ul class="no-bullets">
              <li>Captain America</li>
              <li>Battlestar Galactica</li>
              <li>Dungeons &amp; Dragons</li>
              <li>Skyrim</li>
              <li>Game of Thrones</li>
              <li>Google</li>
              <li>Organizing</li>
              <li>Slim-cut suits</li>
              <li>Popeyes Chicken</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div id="technical" class="col-sm-12">
            <h3><i class="fa fa-wrench fa-border"></i> Technical</h3>
            <dl class="dl-horizontal">
              <dt>Programming/Web :</dt>
              <dd>
                <ul class="list-inline">
                  <li>HTML (<small>haml, erb</small>)</li>
                  <li>CSS 2 &amp; 3 (<small>sass, less, responsive</small>)</li>
                  <li>Bootstrap 2 &amp; 3</li>
                  <li>AngularJS</li>
                  <li>jQuery</li>
                  <li>PHP5</li>
                  <li>Ruby (<small>1.8, 1.9, 2.0</small>)</li>
                </ul>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Design/IDE :</dt>
              <dd>
                <ul class="list-inline">
                  <li>Adobe CS/Photoshop</li>
                  <li>Balsamiq Mockups</li>
                  <li>Sublime Text</li>
                  <li>Oracle VirtualBox</li>
                  <li>VMWare</li>
                  <li>RVM</li>
                  <li>Git</li>
                  <li>Subversion</li>
                </ul>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Webserver/RDBMS :</dt>
              <dd>
                <ul class="list-inline">
                  <li>Apache</li>
                  <li>MySQL</li>
                  <li>Rails (<small>2, 3</small>)</li>
                  <li>Node.js</li>
                </ul>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Operating Systems :</dt>
              <dd>
                <ul class="list-inline">
                  <li>Windows</li>
                  <li>OS X</li>
                  <li>Ubuntu</li>
                  <li>Debian</li>
                  <li>CentOS Server</li>
                </ul>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Extra :</dt>
              <dd>
                <ul class="list-inline">
                  <li>Google Analytics</li>
                  <li>Wordpress</li>
                  <li>cPanel</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div id="experience" class="col-sm-12">
            <h3><i class="fa fa-briefcase fa-border"></i> Experience</h3>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                     Jitscale, Inc.
                     <small class="hidden-xs pull-right">March 2013 - January 2015</small>
                     <br /><small class="hidden-xs">IT Cloud Service Management &amp; Support</small>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <small class="visible-xs">IT Cloud Service Management &amp; Support</small>
                    <h5>Front-End Development; Jr. Rails Developer; UI design<small class="visible-xs pull-right">March 2013 - January 2015</small></h5>
                    <ul class="">
                      <li>Implement complex web application design for company client product</li>
                      <li>Built entire company website redesign based off contracted graphic designer images</li>
                      <li>Implement development standards including RVM, git</li>
                      <li>Produce demo layout and applications for marketing &amp; sales team meetings</li>
                      <li>Refactor existing company applications to new standards and code</li>
                      <li>Create custom design and layout to meet needs of company product</li>
                      <li>Manage U.S. team meeting schedule with home team in The Netherlands</li>
                      <li>Advise other developers on useful layout techniques for company projects</li>
                      <li>Introduced new languages into development team</li>
                      <li>Given creative control for UI development on new projects</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Cloudspace, Inc.
                    <small class="hidden-xs pull-right">December 2012 - January 2013</small>
                    <br /><small class="hidden-xs">Agile Software Development Shop</small>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <small class="visible-xs">Agile Software Development Shop</small>
                    <h5>Front-End Design/Web Development (Contract)<small class="visible-xs pull-right">December 2012 - January 2013</small></h5>
                    <ul class="">
                      <li>Implemented complex web application design for client product</li>
                      <li>Advised other developers on useful design techniques for their client projects</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    HostDime.com
                    <small class="hidden-xs pull-right">October 2012 - February 2013</small>
                    <br /><small class="hidden-xs">Webhosting Provider</small>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <small class="visible-xs">Webhosting Provider</small>
                    <h5>Server Analyst I<small class="visible-xs pull-right">October 2012 - February 2013</small></h5>
                    <ul class="">
                      <li>Resolve domain error issues</li>
                      <li>Edit and update DNS information</li>
                      <li>Monitor server load during peak times of usage</li>
                      <li>Troubleshoot server issues for managed/dedicated clients</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Nerdapalooza, LLC
                    <small class="hidden-xs pull-right">April 2009 - October 2013</small>
                    <br /><small class="hidden-xs">Nerdy Music and Art Festival and Showcase</small>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <small class="visible-xs">Nerdy Music and Art Festival and Showcase</small>
                    <h5>Event Director; Co-Owner<small class="visible-xs pull-right">April 2009 - October 2013</small></h5>
                    <ul class="">
                      <li>Plan and organize yearly event with diverse staff and board of directors</li>
                      <li>Organize and oversee committees involved in production</li>
                      <li>Broker rates for event space and hotel with various companies</li>
                      <li>Manage staff during event weekend to ensure proper execution of festival</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Glassdoctor of Orlando
                    <small class="hidden-xs pull-right">August 2009 – March 2012</small>
                    <br /><small class="hidden-xs">Residential, Commercial, &amp; Auto Glass Repair</small>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                  <div class="panel-body">
                    <small class="visible-xs">Residential, Commercial, &amp; Auto Glass Repair</small>
                    <h5>Glazier; Inside Sale Representative<small class="visible-xs pull-right">August 2009 – March 2012</small></h5>
                    As Glazier
                    <ul class="">
                      <li>Repair and installation of various flat glass products</li>
                      <li>Received incoming parts and stock as well as vendor returns</li>
                    </ul>
                    As Inside Sales Representative
                    <ul class="">
                      <li>Maintained quality phone and walk-in service with customers</li>
                      <li>Introduced improved record-keeping methods within office</li>
                      <li>Designed new manufacturing and job layout reference sheets</li>
                      <li>Scheduled daily work flow for quickly changing and adapting field jobs</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="education" class="col-lg-4 col-md-12">
            <h3><i class="fa fa-book fa-border"></i> Education</h3>
            <table class="footable table toggle-arrow-small">
              <thead>
                <tr>
                  <th data-sort-ignore="">School</th>
                  <th data-sort-ignore="true" data-hide="phone">Location</th>
                  <th data-sort-initial="descending" data-sort-ignore="" data-hide="phone,tablet">Attendence</th>
                  <th data-sort-ignore="true" data-hide="phone,tablet">Area of Study</th>
                  <th data-sort-ignore="true" data-hide="all">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Seminole State College of Florida</td>
                  <td>Sanford, FL</td>
                  <td>2009-2011</td>
                  <td>Associate of Science: Computer Science</td>
                  <td>In Progress</td>
                </tr>
                <tr>
                  <td>Indian River State College</td>
                  <td>Ft. Pierce, FL</td>
                  <td>2005-2007</td>
                  <td>General Education</td>
                  <td>Completed</td>
                </tr>
                <tr>
                  <td>U.S. Navy: Naval Service Training Command</td>
                  <td>Great Lakes, IL</td>
                  <td>2003</td>
                  <td>Electronics Technician/Fire Controlman School</td>
                  <td>Honorable Discharge</td>
                </tr>
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
          <div id="portfolio" class="col-lg-4 col-md-6 col-xs-12">
            <h3><i class="fa fa-code fa-border"></i> Work Portfolio</h3>
            <ul class="list-unstyled">
              <li><a href="https://www.jitscale.com/">Jitscale B.V.</a></li>
              <li><a href="https://icis.jitscale.com/session/new">Jitscale Client Information System</a> [account wall]</li>
              <li><a href="https://sla.jitscale.com">Jitscale Digital SLA</a> [account wall]</li>
              <li><a href="http://carlotaworldwide.com/">Carlota the Creativity Yenta</a></li>
              <li><a href="http://sixnutrition.com/">SIX NUTRITION</a></li>
            </ul>
          </div>
          <div id="projects" class="col-lg-4 col-md-6 col-xs-12">
            <h3><i class="fa fa-paint-brush fa-border"></i> Personal Projects</h3>
            <ul class="list-unstyled">
              <li><a href="http://talley-yarhouse.us/#/">Welcome to Talley-Yarhouse - Landing Page</a></li>
              <li><a href="http://nina.talley-yarhouse.us/#/">Nina Talley - Writing Portfolio</a></li>
              <li><a href="http://wedding.talley-yarhouse.us/">The wedding of Nina Talley and Aaron Yarhouse</a></li>
              <li><a href="http://krondorkrew.com/">Krondor Krew - The greatest in ninja hip-hop</a></li>
            </ul>
            <h4>Previous iterations of this site (early work)</h4> 
            <ul class="no-bullets">
              <li><a href="./LCARS">Star Trek LCARS style</a></li>
              <li><a href="./dnd">Dungeons &amp; Dragons charater sheet style</a></li>
            </ul>          
          </div>
        </div>
        <hr />
        <footer>
          <p class="pull-right">
            <a href="https://www.facebook.com/aaron.yarhouse"><i class="fa fa-facebook-square text-info"></i> </a>
            <a href="https://github.com/yarhouse"><i class="fa fa-github"></i> </a>
            <a href="https://plus.google.com/+AaronYarhouse"><i class="fa fa-google-plus text-danger"></i> </a>
            <a href="https://twitter.com/yarhouse"><i class="fa fa-twitter text-primary"></i> </a>
            <a href="www.linkedin.com/in/aaronyarhouse"><i class="fa fa-linkedin-square text-primary"></i> </a>
            <a href="mailto:aaron@aaronyarhouse.com"><i class="fa fa-envelope-o"></i> </a>
          </p>
        </footer>
      </div> <!-- /container -->
    </div>
  </body>
</html>
